@import url("basic.min.css");

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    position:relative;
    overflow-x:hidden;
    overflow-x: hidden;
    background-color: black;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
#f,
#s,
#t{
    cursor: pointer;
}
#python{
    position: relative;
    left: 7%;
    height: 300px;
    transition-duration: 1s;
}
#logotext:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
#link{
    transition-duration: 0.1s;
    animation: slide-in 0.5s;
}
#header{
    transition-duration: 1s;
}
.dark-mode{
    animation: dark-to-light 1s ease;
    color: black;
    background-color: #a5a6be;
} 

.dark-mode-odd{
    animation: dark-to-light-odd 1s ease;
    color: rgb(36, 36, 36);
    background-color: #737486;
}

@keyframes dark-to-light{
    from {background-color: rgb(17,24,39);}
    to {background-color: #a5a6be;}
}

@keyframes dark-to-light-odd{
    from {background-color: #1F2937;}
    to {background-color: #737486;}
}

@keyframes slide-in{
    from {transform: translateY(-20px);}
    to {transform: translateY(0px)}
}